body {
  background-color: yellow;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 20px;
  background-color: transparent;
  position: relative;
}

#content {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  min-height: calc(100vh - 200px);
}
#content img {
  width: 40%;
  height: auto;
  border-left: 2px solid white;
}

#content-text {
  width: 40%;
  color: black;
  font-size: 25px;
  margin-left: 100px;
  padding: 0px;
}

#footer {
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  padding-top: 22px;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  height: 100px;
  border-bottom: 1px solid white;
}

#footer p {
  margin: 0;
}


.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  margin-bottom: 5px;
  margin-right: 30px;
}

.footer-section i {
  color: yellow;
  margin-right: 50px;
  padding: 10px;
}


h2 {
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 90px;
}

p {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 30px;
}


/* Set the background color of the navigation bar */
.navbar {
  background-color: rgb(15, 15, 14);
  height: 70px;
  border-top: 1px solid white;
}

/* Set the color of the links in the navigation bar */
.navbar-nav .nav-link {
  color: white;
  
}


/* Set the font size of the links in the navigation bar */
.navbar-nav .nav-link {
  font-size: 20px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  
}

/* Set the logo on the left */
.navbar-brand img {
  height: 50px;
  margin-right: auto;
  margin-left: 20px;
  border-radius: 10rem;
}

/* Align the links to the right */
.navbar-nav {
  margin-left: auto;
}

#logout {
  color: yellow;

}

.navbar-nav .nav-link#signUp {
  color: yellow;
}

.nav-item{
  margin: 15px
}

button {
  background-color: azure;
  border-radius: 5px;
  border: none;
  padding: 5px 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
