/* Set the background color of the navigation bar */
.navbar {
  background-color: rgb(15, 15, 14);
  height: 100px;
}

/* Set the color of the links in the navigation bar */
.navbar-nav .nav-link {
  color: white;
  
}


/* Set the font size of the links in the navigation bar */
.navbar-nav .nav-link {
  font-size: 25px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  
}

/* Set the logo on the left */
.navbar-brand img {
  height: 60px;
  margin-right: auto;
  border-radius: 5px;
}

/* Align the links to the right */
.navbar-nav {
  margin-left: auto;
}

.navbar-nav .nav-link#logout {
  background-color: yellow;
  border-radius: 10px;
  padding: 5px 10px;
  color: black;
}

.navbar-nav .nav-link#signUp {
  background-color: yellow;
  border-radius: 10px;
  padding: 5px 10px;
  color: black;

}

.nav-item{
  margin: 10px
}

button {
  border-radius: 15px;
  border: none;
  padding: 10px 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}
