/* style.css */

body{

    background-color: slategray;
}

#navbar {

    background-color: skyblue;
   margin: 10px;
    padding: 10px;
    color: white;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
}

#navbar a {

    color: white;
    padding-top: 5px;
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
}   

#btn{

    background-color: grey;
    border-radius: 5px;
    border-color: #b9f2ff;
    border-width: 3px;
    color: skyblue;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

form .form-control::placeholder{

    background-color: #dcdcdc;
    color: rgb(19, 116, 155);
    font-style: italic;
    margin: 0px;
}

form .form-control:-ms-input-placeholder {


    background-color: #dcdcdc;
    color: rgb(19, 116, 155);
    font-style: italic;
    margin: 0px;
}

h3, h1{

    color:#6495ed;
    font-size: 40px;
    display: block;
    text-align: center;
    text-decoration: underline;
    background-color: white;
    border: #6495ed 3px solid;
    margin-right: 190px;
    margin-left: 190px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}

#note {

    color: #008b8b;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
    padding: 10px;
    background-color: #c4c3d0;
}


#doit{

    background-color: #6495ed;
    border-radius: 7px;
    border: #05568d 3px solid;
    color: white;
    font-size: 30px;
    font-style: italic;
    display: inline;
    margin: 30px;
    margin-bottom: 10px;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
}

#due_date{

    background-color: #244c97;
    border-radius: 7px;
    color: white;
    font-size: 20px;
    border: whitesmoke 5px solid;
    font-family: 'Courier New', Courier, monospace;
}

.list-group-item{
    color: #008b8b;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
    padding: 10px;
    background-color: #c4c3d0;


}

#footer{

    background-color: skyblue;
    color: white;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    position: fixed-bottom;
    bottom: 0;
    width: 100%;
    height: 50px;
    left: 0;
    text-align: right;

}

#footer a{
background-color: skyblue;
    color: white;
    padding-top: 5px;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    position: fixed-bottom;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 50px;
    text-align: right;


}

#footer a:hover{
    color: #6495ed;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 50px;
    text-align: right;
}


/*inputs containters*/
.inputContainer{
    width:  200px;
    margin:  0 auto;
       
}

/* color input, line thickness, slider*/

.input{
  height: 30px;
  font-size: 1.3em;

    
}
#slider{
    margin: 20px;
}

#circle{
   height: 3px;
    width: 3px;
    border-radius: 50%;
    background: black; 
    margin-bottom: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);

}

#thicknessInput{
    position: relative;
}

/*canvas container*/
#container{
 width: 500px;
 height: 400px;
 border: 1px solid rgba(122,174,229,0.5);
 margin: 10px auto;

}
#paint{
display: flex;
justify-content: center;
 margin: 0px;
 width: 500px; 
 height: 400px;  
 background-color: #fff;
 cursor: crosshair;
 border: none;
}
/*inputs container*/
.inputContainer2{
 width: 399px;
 margin: 120px;
display: inline;
}
/* erase, save and reset buttons */
.input2{
width: 133px; 
color: #444243;
font-size: 1.3em;
float: left;
} 

.listdo{

    background-color: #244c97;
    border-radius: 7px;
    color: white;
    font-size: 30px;
    border: whitesmoke 5px solid;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;


}

.listdo:hover{

    background-color: #244c97;
    border-radius: 7px;
    color: #444243;
    font-size: 30px;
    border: whitesmoke 5px solid;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;

}

.listdo:active{

    background-color: #244c97;
    border-radius: 7px;
    color: white;
    font-size: 30px;
    border: whitesmoke 5px solid;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;


}


.button {
    background-color: grey;
    border-radius: 5px;
    border-color: #b9f2ff;
    border-width: 3px;
    color: skyblue;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    margin: 5px;
    cursor: pointer;


}


.button:hover{ background-color: grey;
 border-radius: 5px;
border-color: #b9f2ff;
    border-width: 3px;
    color: skyblue;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    margin: 5px;
    cursor: pointer;}

.button:active{    background-color: grey;
     border-radius: 5px;
    border-color: #b9f2ff;
    border-width: 3px;
    color: skyblue;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    margin: 5px;
    cursor: pointer;


}


.eraseMode{
    background-color: red;
    color: white;
}

#copy{
    color: #fff;
    font-size: 10px;
    text-align: right;
}

#copy a{
    color: #fff;
    text-decoration: none;
}


#reset{

    background-color: fff;
}

#home1{

color: #fff;
background-color: #6495ed;
border-radius: 7px;
border: #05568d 3px solid;
font-size: 25px;
font-style: italic;
display: inline;
margin: 10px;


}


#home1:hover{

color: #fff;
background-color: #6495ed;
border-radius: 7px;
border: #05568d 3px solid;
font-size: 25px;
font-style: italic;
display: inline;
margin: 10px;

}

#home2{

background-color: whitesmoke;
color: #6495ed;
border-radius: 7px;
border: #05568d 3px solid;
font-size: 50px;
font-style: italic;
display: inline;
position: center;
margin: 10px;

}

#home3{

    max-width: 100%;
    max-height: 70%;
}

#borders1{
display: flex;
justify-content: center;
background-color: #1084e2;
border: #b1cadf 40px solid;
width: 600px;

}



tr{

    color: #fff;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #244c97;



}